# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ビルド成果物
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet パッケージ
packages/
*.nupkg
*.snupkg
!**/packages/build/

# MSBuild
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Rider
.idea/

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# JustCode
.JustCode

# TeamCity
_TeamCity*

# DotCover
*.dotCover

# AxoCover
.axoCover/*
!.axoCover/settings.json

# Visual Studio code coverage
*.coverage
*.coveragexml

# NCover
ncover.html

# CruiseControl.NET
ccnet.config

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmarks
BenchmarkDotNet.Artifacts/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# OS
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.stackdump

# WinForms / WPF 自動生成ファイル
*.g.cs
*.g.i.cs
*.baml

# Fody / Costura
FodyWeavers.xsd
