<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MakeobjControllerLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MakeobjControllerLite.Properties.Settings>
            <setting name="defaultSavePath" serializeAs="String">
                <value>pak_dir_dat</value>
            </setting>
            <setting name="isRemoveBat" serializeAs="String">
                <value>YES</value>
            </setting>
            <setting name="defaultSavePath_etc" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="initialdirectory_datfile" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="selectedPakTypeIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="customizedPakType" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="saveFilePath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="currentDatPath" serializeAs="String">
                <value />
            </setting>
            <setting name="currentPakName" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultProjectDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ahpAndRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useProjectDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ahpAndRunOnlyEnv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ahpAbsolutePath" serializeAs="String">
                <value>False</value>
            </setting>
        </MakeobjControllerLite.Properties.Settings>
    </userSettings>
</configuration>